.side_info{
    display: flex;
    max-width: 1280px;
    height: 471px;
    margin: 0px auto;
   
    justify-content: center;
    position: relative;


    .info_logo{
       margin-top: 30px;
        .logo_social{
            display: flex;
            margin-top: 38px;

            div{
                display: block;
                
            }
            .logo_twitter{
                margin-right: 28px;   
            }
        }
    }
    .info_link1{
        display: flex;
        margin-left: 224px;
        ul{

            list-style: none;
            margin-left: 40px;
            li{
                 margin-top: 12px;
                .link_name{
                    margin-top: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #666666;
                }
                a{
    
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #EEEEEE;
                    text-decoration: none;
                }
            }
        }
    }
}
.footer_line{
    position: absolute;
    height: 1px;
    width: 1120px;
    top: 431px;
    border: 1px solid #2A2A2A;
  
    background: #2A2A2A;

}
.end_contentet{
    display: flex;
    max-width: 1120px; 
    margin: 0px auto;
   
    .svg_logo{
      display: block; 
    }
    margin-bottom: 40px;
}
.icon_footer{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    .icon_2{
        margin-left: 10px;
        :hover{
            cursor: pointer;
        }
    }
    .icon_3{
        margin-left: 10px;
        
    }
}